{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">Kindly enter medical records for {{ patient.first_name }} {{ patient.last_name }}</h2>
<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="{{ form.diagnosis.id_for_label }}" class="form-label">diagnosis</label>
        {{ form.diagnosis }}
        {% if form.diagnosis %}
        <div class="text-danger">{{ form.diagnosis.errors }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="{{ form.treatment.id_for_label }}" class="form-label">treatment</label>
        {{ form.treatment }}
        {% if form.treatment %}
        <div class="text-danger">{{ form.treatment.errors }}</div>
        {% endif %}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
{% endblock %}